body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
    text-align: center;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #db4437;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #c23321;
}

#userDetails img {
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}
